@keyframes wave {
    0% {
        left: -150%;
    }
    100% {
        left: 100%;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
