@use "@packages/sass/src/utilities/derived-variables" as dv;
@use "@packages/sass/src/utilities/initial-variables" as iv;

$card-background-color: dv.$background !default;
$card-border-color: dv.$border !default;
$card-radius-large: iv.$radius-large !default;

$card-padding: 0.75rem !default;
$card-padding-small: 1rem !default;
$card-padding-large: 2rem !default;

$card-margin: 0.75rem !default;
$card-margin-small: 1rem !default;
$card-margin-large: 2rem !default;

$card-variants: (
  elevated: (
    box-shadow: 0 6px 1px dv.$primary-dark,
    border: none,
    background: dv.$primary,
    color: dv.$text-invert,
    font-weight: 600
  ),
  outlined: (
    use-mixin: true,
    mixin-border-color: $card-border-color,
    mixin-bg-color: $card-background-color,
    box-shadow: none,
  ),
  flat: (
    box-shadow: none,
    border: none,
    background: dv.$primary,
    color: dv.$text-invert,
    font-weight: 600
  ),
  glass: (
    use-mixin: true,
    mixin-border-color: $card-border-color,
    mixin-bg-color: rgba($card-background-color, 0.1),
    backdrop-filter: blur(12px) saturate(150%),
    box-shadow: 0 2px 8px rgba(dv.$shadow-color, 0.1),
  ),
);
